@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
*, *:before, *:after {
    box-sizing: border-box
}

html{
    /*box-sizing: border-box;*/
    width: 100vw;
}
body{

}
.main{
    width: 100%;
    background-size: 100%;
    background-image: url('bg.png');
    font-family: 'Didact Gothic', sans-serif;
}
.main__top{
    height: 100px;
    width: 100%;
    background-size: 100%;
    background-image: url("../img/borderr.png");
    background-repeat: repeat-x ;
}


.main__text{
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 200%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80%;
    width: 90%;
}
